div.heder-logo{
	font-size: 50px;
	font-weight: bold;
}
.btn-margin-fix{
	margin-top: 5px;
}
.boldedNumbers{
	font-weight: bold;
	border-width: 2px;
}
.shortBox{
	width: 10rem;
}
.center-bootstrap{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	float: inherit;
}
.loading{
	font-size: 40px;
	font-weight: bold;
}
.position-center-modal{
	position: relative;
	left:128px;
}
.errors-formating{
	background-color:rgb(255, 184, 184);
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-weight: 900;
}
.warning-formating{
	background-color:rgb(255, 250, 184);
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-weight: 900;
}