div.heder-logo{
	font-size: 50px;
	font-weight: bold;
}
.btn-margin-fix{
	margin-top: 5px;
}
.boldedNumbers{
	font-weight: bold;
	border-width: 2px;
}
.shortBox{
	width: 10rem;
}
.center-bootstrap{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	float: inherit;
}